<h2>Let's change your Profile, {{username}}</h2>


<form action="/profile/{{id}}/edit" enctype="multipart/form-data" method="post">
  Change your profile picture: <input type="file" name="newProfilePic" accept="image/*">
  <button type="submit">Submit</button>
</form>