<div class="container">
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="/images/profileCover.jpg" alt="Profile image example" height="300">
    <img align="left" class="fb-image-profile thumbnail" src={{user.image}} alt="This is your profile pic!"> 
    <a href="/profile/{{user._id}}/edit" class="btn btn-success">Edit</a>
    <div class="fb-image-text">
      <h1 class="cursive">{{user.username}}</h1>
      <p>Style through community.</p>
    </div>

  </div>
</div> <!-- /container -->
<br>

<div class="container selfie text-center">

  <h2 class="blacktext">My looks</h2>

</div>
<div class="container height">

  <div class="row">
    {{#each selfieFromDb}} {{>selfieCard this}} {{/each}}
  </div>
</div>



<br>
<br>

<div class="container selfie text-center">

  <h2 class="blacktext">My makeup bag</h2>

</div>
<div class="container height">
  <div class="row">
    {{#each products}} {{>productCard this._product}} {{/each}}
  </div>
</div>


<br>
<br>


<div class="container selfie text-center">
  <h2 class=" blacktext">Love these looks</h2>
</div>
<div class="container">

  <div class="row height mb-3">
    {{#each likes}} {{>selfieCard this._selfie}} {{/each}}
  </div>
</div>
</div>