<div class="container">
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="/images/profileCover.jpg" alt="Profile image example" height="200">

    <img align="left" class="fb-image-profile thumbnail" src={{user.image}} alt="This is your profile pic!"width="200" height="300">
    <div class="fb-image-text">
      <h1>{{user.username}}</h1>
      <p>Girls just wanna have fun.</p>
    </div>

  </div>
</div> <!-- /container -->
<br>
<div class="container selfie text-center">

  <h2>Selfies</h2>
  <div class="container">

    <div class="row">
      {{#each selfieFromDb}} {{>selfieCard this}} {{/each}}
    </div>
  </div>
</div>
<div class="container text-center">

  <h2>My makeup bag</h2>
</div>
<div class="container selfie text-center">
  <h2>Love these looks</h2>
</div>