<div class="col-sm">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{comment}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{products}}
      </ul>
    </div>
  </div>
</div>