<!--Jumbotron-->
<div class=" row mb-5">
  <div class="col-md-12">
    <div class="card card-image">
      <div class="jumbotronText text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
          <!--Content-->
          <h1 class="card-title pt-3 mb-5 font-bold">Welcome to our online beauty community!</h1>
          <h3 class="card-title pt-3 mb-5 font-bold">Check out other's pictures and add your own.</h3>
          <!--Content-->

        </div>
      </div>
    </div>
  </div>
</div>
<!--Jumbotron-->


{{!--
<div class="row">
  {{#each productsFromDb}} {{>productCard this}} {{/each}}
</div> --}}
<div class="row justify-content-around">
  {{#each selfieFromDb}} {{>selfieCard this}} {{/each}}
</div>
<div class="mb-5"></div>