<header class="headerPic text-center">
    <div class="header-container pt-auto mt-auto">
        <div class="title-text">
            <h1><b>The Glam Vibe</b></h1>
            <h4>You go, Girl!</h4>
        </div>
        <div class="logincontainer">
            <form action="/auth/login" method="POST" id="form-container">
                <label for="email"></label>
                <input id="email" type="text" name="email" placeholder="Email">

                <label for="password"></label>
                <input id="password" type="password" name="password" placeholder="Password">
                <br> {{#if message }}
                <div class="error-message">{{ message }}</div>
                {{/if}}

                <br><br>

                <button class="button"><span>Login</span></button>

                <h5 class="account-message">
                    Don't have an account yet?
                    <a href="/auth/signup">Signup</a>
                </h5>
            </form>
        </div>
    </div>
</header>

<div id="product">
    <div class="container text-center">
        <h2>What is Glam Vibe?</h2>
    </div>
    <div class="row">
        <div class="col-md-4 text-center glamvibe-pic1">
            {{!-- <img src="images/pic1.jpg"></img> --}}
            <h3>We are an online community</h3>
        </div>
        <div class="col-md-4 text-center glamvibe-pic2">
            {{!-- <img src="images/pic1.jpg"></img> --}}
            <h3>Share products and looks</h3>
        </div>
        <div class="col-md-4 text-center glamvibe-pic3">
            {{!-- <img src="images/pic1.jpg"></img> --}}
            <h3>Build your own collection</h3>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--End of PRODUCT-->

<div id="about" class="text-center">
    <h2>About Us</h2>
    <h5>It is a complete beauty brand spanning colour cosmetics & skin care</h5>
    <div class="row">

        <div class="col-md-6 text-center ">
            <img class="aboutus-pic" src="../images/bhavs.png" alt="Avatar">
            <c>
                <p>Bhavana</p>
            </c>
        </div>

        <div class="col-md-6 text-center">
            <img class="aboutus-pic" src="../images/jen.png" alt="Avatar">
            <c>
                <p>Jennifer</p>
            </c>
        </div>
    </div>
</div>
</div>
<div class="clearfix"></div>
<!--End of ABOUT-->