<div class="container height mt-3">
  <hr>
  <div class="container">
    <section class="col-xs-12 box filter">
      <section class="col-xs-12 box filter text-center">

        <h4 class="text-center">Search for your favorite products</h4> <img class="img-responsive center-block arrow" src="http://psdwizard.net/preview/fusewave/01/assets/images/arrow.png"
          alt="Arrow">
        <div class="filter-block">
          <form class="form-horizontal" action="/mybag" method="get">
            <div class="productType">
              <div class="radio">
                <label><input class="r" type="radio" name="products" value="foundation" />Foundation</label>
                <label><input class="r" type="radio" name="products" value="blush" />Blush</label>
                <label><input class="r" type='radio' name="products" value="lipstick" />Lipstick</label>
                <label><input class="r" type="radio" name="products" value="lip_liner" />Lip liner</label>
                <label><input class="r" type="radio" name="products" value="eyeliner" />Eyeliner</label>
                <label><input class="r" type="radio" name="products" value="nail_polish" />Nail polish</label>
                <label><input class="r" type="radio" name="products" value="mascara" />Mascara</label>
                <label><input class="r" type="radio" name="products" value="eyebrow" />Eyebrow</label>
                <label><input class="r" type="radio" name="products" value="bronzer" />Bronzer</label>
              </div>

              <div class="dropdown">
                Brand:
                <select name="brand">
                  <option value=""></option>
                  <option value="almay">almay</option>
                  <option value="alva">alva</option>
                  <option value="anna sui">anna sui</option>
                  <option value="annabelle">annabelle</option>
                  <option value="benefit">benefit</option>
                  <option value="boosh">boosh</option>
                  <option value="burt's bees">burt's bees</option>
                  <option value="butter london">butter london</option>
                  <option value="c'est moi">c'est moi</option>
                  <option value="cargo cosmetics">cargo cosmetics</option>
                  <option value="china glaze">china glaze</option>
                  <option value="clinique">clinique</option>
                  <option value="coastal classic creation">coastal classic creation</option>
                  <option value="colourpop">colourpop</option>
                  <option value="covergirl">covergirl</option>
                  <option value="dalish">dalish</option>
                  <option value="deciem">deciem</option>
                  <option value="dior">dior</option>
                  <option value="dr. hauschka">dr. hauschka</option>
                  <option value="e.l.f.">e.l.f.</option>
                  <option value="essie">essie</option>
                  <option value="fenty">fenty</option>
                  <option value="glossier">glossier</option>
                  <option value="green people">green people</option>
                  <option value="iman">iman</option>
                  <option value="l'oreal">l'oreal</option>
                  <option value="lotus cosmetics usa">lotus cosmetics usa</option>
                  <option value="marcelle">marcelle</option>
                  <option value="marienatie">marienatie</option>
                  <option value="maybelline">maybelline</option>
                  <option value="milani">milani</option>
                  <option value="mineral fusion">mineral fusion</option>
                  <option value="misa">misa</option>
                  <option value="mistura">mistura</option>
                  <option value="moov">moov</option>
                  <option value="nudus">nudus</option>
                  <option value="nyx">nyx</option>
                  <option value="orly">orly</option>
                  <option value="pacifica">pacifica</option>
                  <option value="penny lane organics">penny lane organics</option>
                  <option value="physicians formula">physicians formula</option>
                  <option value="piggy paint">piggy paint</option>
                  <option value="pure anada">pure anada</option>
                  <option value="rejuva minerals">rejuva minerals</option>
                  <option value="revlon">revlon</option>
                  <option value="salon perfect">salon perfect</option>
                  <option value="sante">sante</option>
                  <option value="sinful colours">sinful colours</option>
                  <option value="smashbox">smashbox</option>
                  <option value="stila">stila</option>
                  <option value="w3llpeople">w3llpeople</option>
                  <option value="zorah">zorah</option>
                  <option value="zorah biocosmetiques">zorah biocosmetiques</option>
                </select><button type="submit" class="search">Search</button>
                <br>
                <p>Don't see your favourite product?
                  <a href="/newproduct">Add your own favorites</a></p>
                {{!--
                <ul class="dropdown-menu">
                </ul> --}}
              </div>
              {{!--
            </div> --}} {{!-- <button type="submit" class="search">Search</button> --}}
        </div>
        </form>
  </div>
  </section>
</div>
{{!--
<p>Don't see your favourite product? Create your own favorites</p> --}}

<hr>

<div class="container text-center height">
  <h2 class="boxed">Search Results</h2>
  <div class="row">
    {{#each productsFromDb }} {{>productCard this}} {{/each}}
  </div>
</div>
{{!--
<hr>

<div class="container text-center height"> --}}

  <div class="container text-center height">

    <h2 class="boxed">My makeup bag</h2>
    <div class="row">
      {{#each products}} {{>productCard this._product}} {{/each}}
    </div>
  </div>
</div>