<h2>Your Profile, {{username}}</h2>

<img src={{image}} alt="This is your profile pic!">
<a href="/editProfile">Edit your Profile Info</a>

<h2>Selfies</h2>


<h2>My makeup bag</h2>

<h2>Love these looks</h2>