<h2>Let's post a selfie</h2>

<form action="" method="post" id="selfie-form">
  <input type="file" name="image" id="">
  <input type="text" name="title" id="">
  <button type="submit">Submit</button>
</form>