<h2>
  Let's post a selfie</h2>



{{!--
<form action="/selfie" method="post" id="selfie-form" enctype="multipart/form-data">
  Your Selfie: <input type="file" name="selfPic" accept="image/*"><br><br> Give us a Title: <input type="text" name="title"
    placeholder="Check out my look!" id="selfie-title"><br><br> What products did you use? <input type="text" name="products"
    placeholder="Maybe it's..." id="selfie-products"><br><br> Tell us about it! <br><textarea name="comment" id="comment" cols="30"
    rows="10" maxlength="150" placeholder="This only took 10 minutes!"></textarea><br><br>
  <button type="submit" id="submit">Submit</button> --}} {{!-- </form> --}}



<form action="/selfie" method="post" id="selfie-form" enctype="multipart/form-data">

  <div class="form-group">
    <label class="col-lg-3 col-form-label form-control-label" for="text">Your Selfie:</label>
    <div class="col-lg-9">
      <input class="form-control" type="file" name="selfPic" accept="image/*">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-form-label form-control-label" for="text">Give us a Title:</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" name="title" placeholder="Check out my look!">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-form-label form-control-label" for="text">What products did you use?</label>
    <div class="col-lg-9">
      <input class="form-control" type="text" name="products" placeholder="Maybe it's...">
    </div>
  </div>


  <div class="form-group">
    <label class="col-lg-3 col-form-label form-control-label" for="description">Tell us about it!</label>
    <div class="col-lg-9">
      <textarea class="form-control" rows="2" cols="50" name="comment" placeholder="You've got 150 characters to tell us how you did it!"></textarea>
    </div>
  </div>

  <input type="submit" value="Submit">
</form>