<h2>Let's post a selfie</h2>

<form action="/selfie" method="post" id="selfie-form">
  <input type="file" name="image" id="selfie-image">
  <input type="text" name="title" id="selfie-title">
  <input type="text" name="products" id="selfie-products">
  <input type="text" name="comment" id="selfie-comment">
  <button type="submit">Submit</button>
</form>