 @import "node_modules/bootstrap/scss/bootstrap";

* {
  // font-family:'Permanent Marker', cursive;
  font-family: 'Kaushan Script', cursive;
  //font-weight: bold;

}

body {
  font-family: 'Kaushan Script', cursive;
}

a {
  color:black;
}

h1 {
  font-family: Poiret One;
  //font-weight:bold;

}
h2,h3,h4,h5 {
  font-weight:bold;

}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
  background-color:#dda094;
}

.navbar-brand {
  min-height: 20px;
  padding: 0 15px 5px;
}

footer {
  background-color: #e3e3e3;
  color:black;
  // position: fixed;
  // bottom: 0;
}

.footer-container {
  max-width: 59rem;
  margin: 0 auto;
}

.footer-copyright {
  color: #616161;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.footer-copyright-right {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer-copyright li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-copyright li:after {
  content: " | ";
  margin-left: 0.46875rem;
  margin-right: 0.46875rem;
}

.footer-copyright-right li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: end;
}

.footer-separator--thin {
  height: 0.0625 rem;
  background: black;
  border: 0;
}
.stores img {
  width: 50%;
  float: right;
}
// Index
.headerPic {
  text-align: center;
  clear: both;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 90vh;
  // width: 90vw;
 
}

.header-container {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding-top:50px;
  position: relative;
  
  
}
@media (max-width: 600px) {
  footer {
    display: none;
  }
}

#product {
  margin: 0px;
  padding: 30px;
  background-color: #dda094;
  // background-color: #e3e3e3;
  
}
.row {
  margin: 0px;
  margin-top: 30px;
}

#about {
  background-color:#dda094;
  color:black;
  padding: 30px;
}

.logincontainer {
position: absolute;
padding-top: 180px;
padding-right:15px;
padding-left:80px;
margin-right:auto;
margin-left:auto;
}

.title-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
  position: absolute;

}

.button {
  border-radius: 4px;
  background-color: #dda094;
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.glamvibe-pic1 {
  background-image: url(../images/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top:50px;
  position: relative;
}

.glamvibe-pic2 {
  background-image: url(../images/beautiful-birthday-blur-318379.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top:50px;
  position: relative;
}


.glamvibe-pic3 {
  background-image: url(../images/diana-kadreva-605288-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top:50px;
  position: relative;
}


.aboutus-pic{
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top: 17px;
  position: relative;
  border-radius: 50%;
}

c {
  font-size: 25px
}

.credentials{
  background-image: url(../images/background.jpg);
  text-align:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding-top:50px;
  position: relative;
}