@import 'node_modules/bootstrap/scss/bootstrap';

* {
  // font-family:'Permanent Marker', cursive;
  font-family: 'Kaushan Script', cursive;
  //font-weight: bold;
}

body {
  font-family: 'Kaushan Script', cursive;
  background-image: url(../images/brick.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

a {
  color: black;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  //font-weight:bold;
}
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
  background-color: #dda094;
}

.navbar-brand {
  min-height: 20px;
  padding: 0 15px 5px;
}

footer {
  background-color: #e3e3e3;
  color: black;
  // position: fixed;
  // bottom: 0;
}

.footer-container {
  max-width: 59rem;
  margin: 0 auto;
}

.footer-copyright {
  color: #616161;
  font-size: 0.8125rem;
  line-height: 1.625rem;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.footer-copyright-right {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer-copyright li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-copyright li:after {
  content: ' | ';
  margin-left: 0.46875rem;
  margin-right: 0.46875rem;
}

.footer-copyright-right li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: end;
}

.footer-separator--thin {
  height: 0.0625 rem;
  background: black;
  border: 0;
}
.stores img {
  width: 50%;
  float: right;
}
// Index
.headerPic {
  text-align: center;
  clear: both;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 90vh;
  // width: 90vw;
}

.header-container {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding-top: 50px;
  position: relative;
}
@media (max-width: 600px) {
  footer {
    display: none;
  }
}

#product {
  margin: 0px;
  padding: 30px;
  background-color: #dda094;
  // background-color: #e3e3e3;
}
.row {
  margin: 0px;
  margin-top: 30px;
}

#about {
  background-color: #dda094;
  color: black;
  padding: 30px;
}

.logincontainer {
  position: absolute;
  padding-top: 180px;
  padding-right: 15px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
}

.title-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
  position: absolute;
}

.button {
  border-radius: 4px;
  background-color: #dda094;
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.glamvibe-pic1 {
  background-image: url(../images/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top: 50px;
  position: relative;
}

.glamvibe-pic2 {
  background-image: url(../images/beautiful-birthday-blur-318379.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top: 50px;
  position: relative;
}

.glamvibe-pic3 {
  background-image: url(../images/diana-kadreva-605288-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top: 50px;
  position: relative;
}

.aboutus-pic {
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  padding-top: 17px;
  position: relative;
  border-radius: 50%;
}

c {
  font-size: 25px;
}

.credentials {
  background-image: url(../images/background.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding-top: 50px;
  position: relative;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile {
  margin: -90px 10px 30px 50px;
  z-index: 9;
  width: 20%;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
  }

  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}

.likebutton {
  background-color: #dda094;
}

/* Style the submit button*/
input[type='submit'] {
  background-color: #dda094;
  color: black;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selfie {
  padding: 30px;
  background-color: #dda094;
}
//search-form
// form.example input[type=text] {
//   padding: 10px;
//   font-size: 17px;
//   border: 1px solid grey;
//   float: left;
//   width: 80%;
//   background: #f1f1f1;
//   border-radius: 20px;
// }

/* Style the submit button */
form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #dda094;
  color: black;
  font-size: 17px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 20px;
}

form.example button:hover {
  background: #dda094;
}

/* Clear floats */
form.example::after {
  content: '';
  clear: both;
  display: table;
}

<<<<<<< HEAD
.search{
  padding:20px;
  
=======
.search {
  padding: 20px;
>>>>>>> 2b2637f74592d91a2fbea5df28a4955f44c0a74f
}

//for product dropdown
ul {
  max-height: 300px;
  overflow-y: auto;
}
